.navbar {
    background-color: coral;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.navbar ul {
    list-style: none; 
    margin: 0;
    padding: 0;
    display: flex; 
    gap: 20px; 
}

.navbar li {
    display: inline; 
}

.navbar a {
    text-decoration: none;
    color: white;
    transition: background-color 0.3s ease, text-decoration 0.3s ease; /* Smooth hover effect */
}

.navbar a:hover {
    text-decoration: underline;
    background-color: rgb(164, 144, 120);
}

.main {
    display: flex;
    justify-content: space-between;
    padding: 0; 
}